<div class="login-page">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form-wrapper">
        <div class="login-title">Login</div>
        <div class="form-fields">
            <label for="login" class="form-label">Username</label>
            <input id="login" type="text" formControlName="login" class="form-input">

            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" formControlName="password" class="form-input">
        </div>
        <div class="button-wrapper">
            <button type="submit" [disabled]="!loginForm.valid" class="submit-button">Login</button>
        </div>
        <div class="login-footer">
            <div>Or</div>
            <div class="signup-button" routerLink="/signup">Sign Up</div>
        </div>
    </form>
</div>