<mat-toolbar>
    <span class="nav-button" routerLink="" routerLinkActive="active">Accueil</span>
    <span class="spacer"></span>
    <span class="nav-button" routerLink="game-list" routerLinkActive="active">Liste de jeu</span>
    <span class="spacer"></span>
    <span class="nav-button" routerLink="my-groups" routerLinkActive="active">Mes groupes</span>
    <span class="spacer"></span>
    <span class="nav-button" routerLink="my-games" routerLinkActive="active">Mes jeux</span>
    <span class="spacer"></span>
    <span class="nav-button" routerLink="profile" routerLinkActive="active">Mon profil</span>
    <span class="spacer"></span>
    <span class="nav-button" routerLink="login" routerLinkActive="active">Login/SignUp</span>
  </mat-toolbar>